<!DOCTYPE html>
<html>
<body>
	   <!-- rodape -->
	   <footer class="fragment--footer">
	        <div class="logo--if">
	            <img src="../imagens/logo--if.png" alt="Logo do instituto federal do triângulo mineiro" width="50" height="50">
	        </div>
	        <div class="rights--reserved">
	            <div class="name--user--footer">
	                <p><strong>Lenner de Almeida Alves Pereira</strong></p>
	                <p style="font-size: 12px;">Administrador</p>
	            </div>
	            <div class="name--developers">
	                <p>Lenner Alves & João Victor Marques</p>
	                <p>&copy; Copyright - Todos os direitos reservados - 2022</p>
	            </div>
	        </div>
	   </footer> 
</body>
</html>