<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Alterar Doador</title>
</head>
<body>
	<main layout:fragment="conteudo">
		<section class="fragment--section">
			<div class="area--total--doador"> 
				<div class="main--cadastrar--doador">
					<div class="titulo--cadastrar--doador">Alterar Doador</div>
					<div class="form--cadastrar--doador">
						
						<form th:action="@{/doador/alterar}" method="post" th:object="${doador}">
							<fieldset>
								<legend>Doador</legend>
								<select id="doador" name="doador" class="form-select" >
									<option th:each="d : ${doador}" th:value="${d.codigo}" th:text="${d.nome}"></option>
								</select>
							</fieldset>
							<fieldset>
								<legend>Nome</legend>
								<input type="text" name="nome" id="nome" placeholder="altere o nome do doador" >
							</fieldset>
							<fieldset>
								<legend>Telefone</legend>
								<input type="text" name="telefone" id="telefone" placeholder="altere o telefone do doador" >
								
							</fieldset>
							<div class="area--btn--form">
								<input type="submit" value="Alterar">
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>
	</main>
</body>
</html>